@font-face {
  font-family: 'TFG-Dresstyle-Font';
  src:
       url('@/assets/TFG.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html,body {
  font-family: 'TFG-Dresstyle-Font', sans-serif;
  background: url('@/img/background2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;

}
footer, header {
  font-family: 'TFG-Dresstyle-Font', sans-serif;
}
